body {background-color: #E0FFFF;}

#navbuttons { width: 1000px; margin-top: 3px;}

.button { width: 220px; height: 15px; text-align: center; }

h1 { color: #F0FFFF;
  text-align: center;
}

p { color: #F0FFFF;
  text-align: center;
}
